*{
  margin: 0;
}
.App{
  display: grid;
  place-items:'center';
  background-color: #dadbd3;
  height: 100vh;
}
.app_body{
  margin: auto;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}